body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #434455;
    line-height: 1.5;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.header{
    border-bottom: 1px solid #E7E9FC;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    position: fixed;
    box-shadow: 
    0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    z-index: 99;
    margin: 0 auto;
}

.header-block{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.navigation-properties{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list{
    display: flex;
    gap: 40px;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-main{
    width: calc((100% - 72px) / 4);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container-main{
    gap: 24px;
    display: flex;
    justify-content: center;
}

.logo-studio{
    color: #f4f4fd;
}

.menu{
    display: flex;
    gap: 40px;
}

.navigation-properties{
    font-weight: 500;
    position: relative;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    padding: 24px 0;
    display: block;
}

.navigation-properties:hover::after{
    content: "";
    position: absolute;    
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.current{
    position: relative;
    color: #404bbf;
}

.menu .current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.butt{
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 16px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navigation-properties:hover{
    color: #404bbf;
}

.navigation-properties:active{
    color: #404bbf;
}

.navigation-properties:focus{
    color: #404bbf; 
}

.butt:hover{
    background-color: #404BBF;
}

.butt:focus{
    background-color: #404BBF;
}

.address-properties{
    font-style: normal;
    align-items: center;
}

.svg-image-feature{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 8px;

}

.svg-properties{
    width: 64px;
    height: 64px;
    fill: none;
}

.svg-properties:last-child{
    fill: #434455;
}

.change-color{
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.change-color:hover, .change-color:active, .change-color:focus{
    color: #404bbf;
}

.team-list{
    display: flex;
    gap: 24px;
}

.svg-team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.svg-team-properties{
    width: 40px;
    height: 40px;
}

.team-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-team-elem{
    fill: #f4f4fd;
}

.team-link:hover{
    background-color: #404bbf;
}

.team-link:focus{
    background-color: #404bbf; 
}

.first-section{
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office.jpg);
    text-align: center;
    padding: 188px 0;
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: calc(120px + 80px);
    margin: 0 auto;
}

.first-properties{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.team-section{
    background-color: #F4F4FD;
}

.team-photo{
    width: 100%;
}

.first-list-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}

.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px; 
}

.title-main{
    margin-top: 8px;
    margin-bottom: 8px;
}

.first-list{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4); 
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card{
    padding: 32px 0;
}

.title-portf{
    text-align: center;
    margin-bottom: 8px;

}

.list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.p-portfolio{
    text-align: center;
    margin-bottom: 8px;
}

.list-paragraph{
    font-size: 16px;
    color: #434455 ;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.second-list-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}

.portfolio-color{
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}

.container-list{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-list:hover{
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.box{
    position: relative; 
    overflow: hidden; 
}

.container-list:hover .dynamic-paragraph{
    transform: translateY(0);
}

.dynamic-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4d5ae5;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

.footer-properties{
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
    margin: 0 auto;

}

.portfolio-block{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.logo-footer{
    display: inline-block;
    margin-bottom: 16px; 
}

.logo{
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio-f{
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.logo-studio-h{
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.svg-footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.second-part-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 80px;
}

.third-part-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.media-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}


.svg-footer-list{
    display: flex;
    gap: 16px;
}

.svg-footer-properties{
    fill: #f4f4fd;
}

.logo-footer-box{
    margin-right: 120px;
}

.svg-footer-elem{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-footer-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover{
    background-color: #31d0aa; 
}

.footer-link:focus{
    background-color: #31d0aa;
}

.format{
    display: flex;
}

.footer-paragraph{
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
    max-width: 264px;
}

.form-footer{
    display: flex;
    gap: 24px;
}

.email-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2e2f42;
    background-color: transparent; 
    font-size: 12px;
    line-height: 2; 
    letter-spacing: 0.04em; 
    padding-left: 16px; 
    color: #ffffff;

}

.email-input::placeholder{
    color: #ffffff;
}

.butt-input{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.svg-footer-send{
    margin-left: 16px; 
}

.backdrop {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.form{
    gap: 24px;
}

.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.text-info{
    display: block;
    margin-bottom: 4px; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.svg-footer-elem{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .svg-footer-close{
    fill: #ffffff;
}

.modal-close-btn:focus .svg-footer-close{
    fill: #ffffff;
}

.modal-close-btn{
    margin-left: 360px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    box-shadow: 
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 24px; 
    right: 24px;
    background-color: #e7e9fc; 
    border-radius: 50%; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0; 
    cursor: pointer;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover{
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}

.modal-form-block{
    margin-bottom: 8px;
}

.modal-comment-block{
    margin-bottom: 16px;
}

.info {
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    width: 100%; 
}

.form-elem{
    position: relative; 

}

.icon-modal:hover {
    fill: #4d5ae5; 
}

.info:focus + .icon-modal {
    fill: #4D5AE5; 
}

.info:focus {
    border-color: #4D5AE5;
}

.comment-info{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%; 
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.comment-info:focus{
    border-color: #4D5AE5;
}

.check-info{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.cus-checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent; 
    margin-right: 8px;
}

.user-check:checked + .check-info .cus-checkbox {
    background-color: #404bbf; 
    fill: #404bbf;
}

.user-check:checked + .check-info .cus-checkbox svg {
    opacity: 1;
    visibility: visible;
    fill: #f4f4fd;
}
.check{
    margin-bottom: 24px;
}

.check-user{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
}

.link-privacy{
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-left: 4px;
}

.icon-modal{
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    top: 50%; 
}

.butt-send-el{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    cursor: pointer;
}



/*----------- MEDIA ------------*/



@media (min-width: 320px) and (max-width: 768px){

    .container{
        width: calc(100vw - var(--scrollbar-width, 0px));
    }

    body{
        overflow-x: hidden;
    }

    /* --------- HEAD --------- */
    .header{
        height: 56px;

    }

    .logo{
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 149px;
    }

    .svg-phone{
        fill: #2f2f37;
        margin-top: 16px;
        position: relative;
    }

    .desktop-only{
        display: none;
    }


    /* --------- MOBILE-MENU ---------- */


    .close-phone{
        position: relative;
        margin-left: 272px;
        margin-top: 24px;
        margin-right: 24px;
    }

    .svg-phone-circle{
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        fill: #e7e9fc;
        stroke-width: 1px;
        stroke: #2e2f42;
    }

    .svg-phone-close{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill:  #2e2f42;
        position: absolute;
    }

    .mobile-menu{
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: #fff;
        transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        
    }

    .mobile-menu.is-open{
        overflow: hidden;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 99;

    }

    .mobile-menu-container{
        position: relative;
        background-color: #fff; 
        height: 100%; 
        overflow-y: auto; 
    }

    .phone-menu{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 168px;
    }

    .phone-menu:active{
        color: #404BBF;
    }

    .address-phone{
        margin-bottom: 48px;
    }

    .address-list-phone{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        min-width: 193px;
        min-height: 72px;
    }

    .menu-phone-nav{
        margin-top: 72px;
    }

    .phone-address{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
    }

    .phone-address:focus{
        color: #4d5ae5;
    }

    .svg-phone-list{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
    }

    .team-link{
        width: 40px;
        height: 40px;
    }

    .phone-menu-box{
        margin-bottom: 40px;

    }

    /*------- HERO ----------- */

    .first-section{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 320px;
        padding-top: calc(160px + 36px);
        background-position: center;

    }

    .first-properties{
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 72px;
        max-width: 160px;
    }
    
    .butt{
        margin-left: 76px;
        margin-right: 76px;
        margin-bottom: 72px;
    }

/* -------- FIRST ----------- */

    .container-main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 72px;
    }

    .list-main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        min-width: 288px;
        margin: 0 auto;
    }

    .list-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        margin-left: 8px;
        margin-right: 8px;

    }

    .first-list-paragraph{
        font-weight: 500;
        text-align: start;
    }
    
    /*-------- SECOND ---------*/

    .section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11
    }

    .team-list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 72px;
    }

    .first-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        min-width: 264px;
        margin: 0 auto;
    }

/* ------ PORTFOLIO --------- */
    .section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .container-list{
        min-width: 288px;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

    .portfolio-block{
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
    }

    .portfolio-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: start;
        margin-bottom: 8px;
        margin-left: 16px;
    }

    .list-paragraph{
        margin-left: 16px;
    }

    /* ------ FOOTER --------- */


    .footer-properties{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 16px, 96px;
    }

    .footer-paragraph{
        text-align: start;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        /* margin: 0 auto; */
    }

    .footer-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        gap: 72px;
        width: 100%;
    }

    .media-paragraph{
        margin-bottom: 16px;
    }

    .second-part-footer, .third-part-footer, .form-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .part-footer{
        left: 50%;
        top: 0;
        position: absolute;
        transform: translate(-50%, -50%);

    }

    .part-paragraph{
        margin-top: 16px;
    }

    .logo-footer{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 16px;
    }

    .logo-footer-box{
        margin-bottom: 72px;
    }
    .email-input{
        border-radius: 4px;
        width: 288px;
        height: 40px;
        margin: 0 auto;
    
    }

    .container-list{
        margin: 0 auto;
    }


    /* -------- MODAL ---------- */

    .backdrop {
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 288px;
        min-height: 584px;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        box-shadow: 
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        padding: 72px 24px 24px 24px;
    }
    
    .backdrop:not(.is-open) .modal {
        transform: translate(-50%, -100%);
    }

}

@media (min-width: 769px) and (max-width: 1157px){
    .container{
        width: calc(100vw - var(--scrollbar-width, 0px));
    }

    body{
        overflow-x: hidden;
    }

    .svg-image-feature{
        display: none;
    }

    .phone-only{
        display: none;
    }
    /* -------- HEADER -------- */

    .address-properties{
        margin: 0;

    }

    .address-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 8px;
        padding: 0;
        margin: 0;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        width: 115px;
        height: 24px;
        margin-left: 16px;
    }

    .header-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 769px;
        height: 72px;
    }

    .menu{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        margin: 0;
    }

    /* -------- HERO ---------- */

    .container-main{
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        column-gap: 72px;
        row-gap: 24px; 
    }

    .list-main{
        width: calc((100% - 72px) / 2);
        gap: 8px;
    }

    .title-main{
        font-weight: 700px;
        font-size: 36px;
        line-height: 1.11;
    }

    /* --------- TEAM --------- */

    .team-list{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 64px; 
        margin: 0 auto;

    }

    .first-list{
        width: calc((100% - 64px) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 428px;
        gap: 32px;
        margin: 0 0;
    }

    .team-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    /* -------- PORTFOLIO -------- */

    .portfolio-color{
        display: flex;
        align-content: space-around;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        /* margin: 0 auto; */
    }

    .container-list{
        width: calc((100% - 24px) / 2);
    }

    .img-portfolio{
        width: 100%;
    }

    /* --------- FOOTER --------- */
    
    .footer-box{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 108px;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .logo-footer-box{
        margin-bottom: 72px;
        margin-right: 24px;
    }


    
    /* --------- MODAL ------- */

    .backdrop{
        width: 408px;
        height: 584px;
        
    }
    .backdrop {
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
        min-height: 584px;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        box-shadow: 
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        padding: 72px 24px 24px 24px;
    }
    
    .backdrop:not(.is-open) .modal {
        transform: translate(-50%, -100%);
    }
}

@media (min-width: 1158px){

    .phone-only{
        display: none;
    }
    

}

/* --------- IMAGE ---------- */

@media (min-resolution: 192dpi) {
    .first-section {
        background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office@2x.jpg);
    }
}